// FOOTER
body > footer {
	clear: both;
	padding: 8em 1.3625em 1.3625em;
	font: normal .75em/1em 'titillium_webregular';
    background: $greydk url("/img/logo-rm-footer.png") center 1em no-repeat;
    border-top: 2px solid $greymid;
    color: $greylt;
    text-align: center;
	a {
		color:$bluemid;
	}
	nav {
		ul {
			margin:1em auto;
			float:none;
			li {
			    padding: .125em .5em;
			}
			@include media($tablet) {
				list-style:none outside none;
				li {
					display:inline-block;
					padding:.125em .5em;
					vertical-align:top;
					border-right:1px solid $greylt;
					&:last-of-type {
						border:0;
					}
				}
			}
		}
	}
}
