// FOOTER
body > footer {
	clear: both;
	padding: 8em 1.3625em 1.3625em;
	font: normal .75em/1em 'titillium_webregular';
    background: $greydk url("/img/logo-rm-footer.png") center 1em no-repeat;
    border-top: 2px solid $greymid;
    color: $greylt;
    text-align: center;
	a {
		color:$bluemid;
	}
	nav {
		ul {
			margin:1em auto;
			float:none;
			li {
			    padding: .125em .5em;
			}
			@include media($tablet) {
				list-style:none outside none;
				li {
					display:inline-block;
					padding:.125em .5em;
					vertical-align:top;
					border-right:1px solid $greylt;
					&:last-of-type {
						border:0;
					}
				}
			}
		}
	}
}
body.direction > footer {
	clear: both;
	padding: 4em 1.3625em 1.3625em;
	font: normal .75em/1em 'titillium_webregular';
	border-top: 2px solid $greymid;
	color: $greylt;
	text-align: center;
	a {
		color:$bluemid;
	}
	a.rmtext {
		color: #999;
		&:hover {
			text-decoration: none;
  		color: #333;
		}
	}
	p {
		font-size: 0.70em;
		line-height: 1.25em;
		font-family: arial,sans-serif;
	}
	nav {
		ul {
			margin:1em auto;
			float:none;
			li {
			    padding: .125em .5em;
			}
			@include media($tablet) {
				list-style:none outside none;
				li {
					display:inline-block;
					padding:.125em .5em;
					vertical-align:top;
					border-right:1px solid $greylt;
					&:last-of-type {
						border:0;
					}
				}
			}
		}
	}
}
